h1,h2, #kep{
text-align:center;
}

div {
  margin: 10px;
  padding: 20px;
  border: 1px solid fuchsia;
  border-radius: 25px;
}

a {
  padding: 10px;
  border-radius: 25px;
  background-color: blue;
  color: white;
}

#listak{
		background-color:lightgrey;
}
.sorrendi{
	font-style:italic;
	background-color: white;
	width: 300px;
	border-radius: 45px;
}